

body{
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
}

.container {
    border: var(--element-border-thickness) solid var(--element-border-color) var(--element-border-radius);
	border-radius: var(--element-border-radius);
	box-shadow: var(--element-shadow-inset);
	margin: 16px;
	margin-bottom: 24px;
	padding: 16px;
	background-color: var(--element-bg-color);
	color: var(--element-txt-color);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}

.seats{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.seats input{
    width: 80px; 
    height: 80px;
}
.seats input:hover{
    border: 0px solid #aa964c00;
    border-radius: var(--element-border-radius);
    background-color: var(--gold-color);
}

.row1 .chair2{
    background-color: var(--seat-blocked-color);
    border: 0px solid #aa964c00;
    border-radius: var(--element-border-radius);
    pointer-events: none;
}

.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.chair1, .chair2, .chair3, .chair4, .chair5, .chair6, .chair7, .chair8, .chair9, .chair10{
    flex-grow: 1;
}

input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]+img{
  cursor:pointer;
  display:block;
  position:relative;
}
input[type="checkbox"]:checked~img{
    display:block;
    content:"";
    position:relative;
    top:0px;
    left:0px;
    border: #9e1313;
    color: #9e1313;
    border-width: 4px;
}