
body{
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
}

.container {
    border: var(--element-border-thickness) solid var(--element-border-color) var(--element-border-radius);
	border-radius: var(--element-border-radius);
	box-shadow: var(--element-shadow-inset);
	margin: 16px;
	margin-bottom: 24px;
	padding: 16px;
	background-color: var(--element-bg-color);
	color: var(--element-txt-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.container:hover{
    background-color: var(--element-bg-color-hover);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.block{
    background-color: var(--main-bg-color);
    border: var(--element-border-thickness) solid var(--element-border-color) var(--element-border-radius);
	border-radius: var(--element-border-radius);
	box-shadow: var(--element-shadow);
    color: var(--main-txt-color);
    width: fit-content;
    padding: 15px;
    margin: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.block .innerBlock{
    background-color: var(--element-bg-color);
    border: var(--element-border-thickness) solid var(--element-border-color) var(--element-border-radius);
	border-radius: var(--element-border-radius);
    box-shadow: var(--inner-element-shadow-inset);
    color: var(--element-txt-color);
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

textarea{
    resize: none;
}
.block .inputfield{
    background-color: var(--element-bg-color);
    border: var(--element-border-thickness) solid var(--element-border-color) var(--element-border-radius);
	border-radius: var(--element-border-radius);
    box-shadow: var(--inner-element-shadow-inset);
    color: var(--element-txt-color);
    width: 100%;
    padding: 15px;
}